.export-btn {
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn {
  display: block;
  height: fit-content;
  box-shadow: none;
  border: 0;
  padding: 17px 30px;
  background-color: #2d2c2c;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.addField {
  display: none;
  background-color: transparent;
  border: none;
  padding: 2em;
  cursor: pointer;
}
.bio {
  margin-bottom: 5em;
}
.experience {
  margin-bottom: 5em;
}
.right:hover .addField {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.removeField {
  display: none;
  background-color: transparent;
  border: none;
  width: 3em;
}
.field:hover .removeField {
  display: block;
  cursor: pointer;
}

#bioSubmit svg {
  position: "absolute";
  top: 0;
  right: 0;
  cursor: "pointer";
  /* background-color: white; */
  fill: #ffb600;
  border: none;

  outline: "none";
}
.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
}
.input {
  background-color: rgb(48, 48, 50);
  font-size: 2.5em;

  /* width: 100%; */
  border: none;
  color: #fff;
  /* font-size: 1em; */
  margin-bottom: 0.1em;
}

.subtitleInput {
  background-color: rgb(48, 48, 50);
  border: none;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 0.1em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid white; */
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(48, 48, 50) inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* .field > textarea {
  height: fit-content;
  min-height: 3em;
} */
#github-tooltip {
  /* top: 0; */
  /* left: 30%; */
  /* transform: translateX(-50%); */
  border: #ffb600 dashed 1px;
  /* padding: 4px; */
  /* border-radius: 4px; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  /* z-index: 1; */
}

textarea {
  background-color: #e8e6e6;
  border: none;
  overflow: auto;
  outline: none;
  /* width: 100%; */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-height: 5em;
  resize: none;
  /* font-size: xx-small; */
  /* padding-right: 2em; */
  /* margin-right: 3em; */
  /* padding: 1em; */
  /* margin-bottom: 1em; */
  z-index: 999;
}
textarea:hover {
  border: #ffb600 dashed 1px;
}
.field > :hover {
  border: #ddd dashed 1px;
}

.inputContact {
  background-color: rgb(48, 48, 50);
  font-family: "Roboto Mono", monospac 400;
  border: none;
  width: 100%;
  color: #fff;

  margin-bottom: 0.1em;
  /* font-size: 1em; */
}
.field__label {
  /* font-size: 15px; */
}

.main-container {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  align-items: center;
}
.container:hover {
  border: dashed 1px #ffb600;
}
#image {
  display: none;
}
.upload-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.cv-image-wrapper:hover .upload-icon {
  display: flex;
  height: 100%;
}
.cv-image-placeholder {
  display: flex;

  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.lang {
  margin-top: 1em;
}
.skills {
  margin-top: 1em;
}
.social-links {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-evenly;
}

/* .k-pdf-export .left{
width: 30;
} */
/* .container > * {
  flex-shrink: 0;
} */
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-width: 8.5in; /* Set the maximum width */
  margin: 0 auto; /* Center the container */
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 30%;
  background-color: rgb(48, 48, 50);
  color: white;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  flex: 1;
  padding-top: 6em;
}

.right {
  width: 70%; /* Set the right div to 70% width */
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 6em;
  box-sizing: border-box;
  background-color: #e8e6e6;
}

hr {
  height: 2px;
  border-width: 0;
  color: #ffb600;
  background-color: #ffb600;
  margin-top: 1em;
  margin-bottom: 1em;
}

.cv-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}

.cv-image-container {
  display: flex;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  max-width: 262px;
  /* height: 256px; */
  overflow: hidden;

  padding: 0;
}

.cv-image-container:hover {
  border: #ddd dashed 1px;
}
.cv-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cv-header-text {
  padding-top: 1em;
  padding-left: 1em;
  text-align: left;
  padding-right: 1em;
}

.cv-header-text h2 {
  margin-bottom: 0.5em;
}

.cv-header-text h3 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

.cv-header-text p {
  margin: 0;
  margin-bottom: 0.5em;
}

.cv-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.container ul li {
  margin-bottom: 1em;
}

.cv-body ul li {
  margin-bottom: 0.5em;
  -webkit-hyphens: auto; /* For Chrome, Safari, and Opera */
  -ms-hyphens: auto; /* For Microsoft Edge */
  hyphens: auto;
}
li {
  margin-bottom: 0.5em;
  list-style-type: none;
  -webkit-hyphens: auto; /* For Chrome, Safari, and Opera */
  -ms-hyphens: auto; /* For Microsoft Edge */
  hyphens: auto;
}
.svg-inline--fa {
  padding-right: 2px;
}

.cv-body a {
  display: inline-block;
  text-decoration: none;
  background-color: #f8f8f8;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  text-decoration: none;
  margin-top: 1em;
}
.cv-header-text a {
  text-decoration: none;
  color: #ddd;
}
.cv-body a:hover {
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .main-container {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
  }
  textarea {
    margin-right: 0;
    padding-right: 0;
  }

  .right {
    width: 70%;
    padding-left: 1em;
    padding-right: 0;
  }

  .cv-header {
    flex-direction: column;
    align-items: center;
  }

  .cv-image-container {
    width: 100%;
    height: auto;
  }

  .cv-header-text {
    padding: 1em;
    text-align: center;
  }
}
@media only screen and (max-width: 468px) {
  .container {
    width: 100%;
    margin: 0;
  }
  textarea {
    margin-right: 0;
    padding-right: 0;
    /* font-size: 0.3em; */
  }
  input {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .main-container {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
  }
  h4 {
    /* font-size: x-small; */
  }
  .input {
    /* font-size: 0.7em; */
    padding-bottom: 0.3;
  }
  .subtitleInput {
    /* font-size: 0.5em; */
  }
  .cv-header-text {
    padding: 0.5em;
  }
  .lang {
    text-align: left;
  }
  .skills {
    text-align: left;
  }
  .btn {
    padding: 8px 30px;
  }
  .inputContact {
    background-color: rgb(48, 48, 50);
    font-family: "Roboto Mono", monospac 400;
    border: none;
    width: 100%;
    color: #fff;
    margin-bottom: 0.1em;
    padding-bottom: 0.4em;
  }
  .right {
    width: 70%;
    padding-left: 1em;
    padding-right: 0;
  }

  hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}
/* @media print {
  .container {
    width: 8.5in;
  }
  .left {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 50);
    color: white;
    margin-left: 0;
    padding-left: 0;

    text-align: left;
    flex: 1;
    padding-top: 6em;
  }
  .right {
    width: 70%;
    padding-left: 2em;
    padding-top: 6em;
    padding-right: 2em;
    box-sizing: border-box;

    background-color: #e8e6e6;
  }
} */
